:root{
    --dark-back-text: #1f2937;
    --quote-back-second: #e5e7eb;
    --white: #f9faf8;
    --button: #3882f6;
}


body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
/* Below this is the css for the header*/

header{
    width: 100%;
    background-color: var(--dark-back-text);
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
    color: var(--white);
    font-family: hero;
}

header > ul {
    display: flex;
    gap: 18px;
}

header > ul > li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--quote-back-second);
    font-size: 18px;
}
/* Above this is the css for the header*/

#title{
    background-color: var(--dark-back-text);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 50px;
     
}
.title-image{
    background-color: rgb(102, 112, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    align-self: center;
    flex-shrink: 0;
    color: var(--white);
    
}

.title-text h1{
    color: var(--white);
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
    

}
.title-text p {
    font-size: 18px;
    color: var(--quote-back-second);

}
.title-text button{
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    background-color: var(--button);
    color: var(--white);
}